#include "winrestest.h"

IDI_APP_ICON	ICON	"face.ico"

IDM_APP_MENU	MENU
BEGIN
	POPUP	"&Draw"
	BEGIN
		MENUITEM "&Red\tCtrl+R"		ID_RED
		MENUITEM "&Green\tCtrl+G"	ID_GREEN
		MENUITEM "&Blue\tCtrl+B"	ID_BLUE
		MENUITEM "C&ustom..."		ID_CUST
		MENUITEM SEPARATOR
		MENUITEM "&Clear\tF3"		ID_CLEAR
	END
END

IDR_APP_ACCEL	ACCELERATORS
BEGIN
	"R", ID_RED, CONTROL, VIRTKEY
	"G", ID_GREEN, CONTROL, VIRTKEY
	"B", ID_BLUE, CONTROL, VIRTKEY
	VK_F3, ID_CLEAR, VIRTKEY
END

STRINGTABLE
BEGIN
	IDS_PROMPT	"Do you want to copy?"
END

IDD_CUST_DIALOG	DIALOGEX	50, 20, 100, 85
STYLE	WS_OVERLAPPED
CAPTION	"Set Color"
BEGIN
	LTEXT		"Red :", IDD_CUST_DIALOG+1, 5, 10, 30, 10
	EDITTEXT	ID_RED, 45, 10, 50, 10, ES_NUMBER
	LTEXT		"Green :", IDD_CUST_DIALOG+2, 5, 25, 30, 10
	EDITTEXT	ID_GREEN, 45, 25, 50, 10, ES_NUMBER
	LTEXT		"Blue :", IDD_CUST_DIALOG+3, 5, 40, 30, 10
	EDITTEXT	ID_BLUE, 45, 40, 50, 10, ES_NUMBER
	DEFPUSHBUTTON	"OK", IDOK, 15, 60, 30, 15
	PUSHBUTTON	"Cancel", IDCANCEL, 55, 60, 30, 15
END











